*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* loading */

 .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
      margin-top: -5%;
    }
    100% {
      opacity: 0;
      margin-top: -5%;
    }
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
  
.loader{
    background: #2494c0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: circle(141.2% at 100% 0);
    transition: 0.3s clip-path ease-in-out;
}

.loader2{
    clip-path: circle(0% at 100% 0);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0px 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

header {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 14%;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    background-size: cover;
  }

.logo-dark{
    width: 100px;
    margin-top: 5%;
}

.carousel-item{
    min-height: 530px;
    background-size: cover;
  }

#carousel{
    padding-top: 80.5px;
}

.carousel-inner h1{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 55%;
    left: 53.4%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.623);
}

.carousel-item p{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: -16%;
    left: 54.4%;
    transform: translate(50%, 50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.623);
}

.mainmenu{
    margin-top: -5.8%;
    margin-left: 300px;
}

.navbar {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav li a{
    background:white;
    color: black;
    text-decoration: none;
    padding: 15px 20px; 
    display: block;
    font-family: work sans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all ease-in-out 260ms;
}

.nav li a:hover{
    background-color: rgb(68, 38, 238);
    color: white;    
}

.nav > li {
    float: left;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 100px;
}

.nav li:hover > ul{
    display: block;
}

.cta-btn{
    margin-top: -62px; 
}

.checkbtn{
    font-size: 33px;
    color: #212529;
    float: right;
    line-height: 60px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.carousel{
    background-size: cover;
    background-position: center center;
    height: calc(100vh -79px);
}

.header-right {
    display: flex;
    align-items: center;
}
.header-right .menu-btn {
    display: inline-block;
    background: rgb(0, 2, 128);
    color: #fff;
    font-family: work sans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    letter-spacing: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    text-decoration: none;
}

.padding {
    padding: 100px 0;
}


ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}


.about-info li i {
    color: #345ead;
    margin-right: 15px;
    font-size: 15px;
}

.section-doc{
    background-color: #186edfa8;
    padding: 1.5%;
    max-height: 90%;
    color: rgb(250, 252, 253);
    font-size: 1.2rem;
    text-shadow: 0 0 5px rgb(5, 5, 5);   
}

.img-doc{
    width: 355px;
    position: relative;
    padding: 0 0px 10px;
}

.texto-doc{
    text-align: justify;
}

.texto-docder{
    text-align: justify;
}

.texto-publicitario{
    
    background-color: #186edfa8;
    padding: 1%;
    max-height: 57px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 0 0 5px rgb(5, 5, 5);
}

.subtitulo{
    text-align: center;
    height: 60px;
    font-size: 40PX;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.gallery{
    padding-top: 2%;
    padding-bottom: 4%;
    background: #0639699d;
}

.subtitulos{
    justify-content: space-evenly;
    width: 435px;
    height: 30px;
    box-shadow: 0 0 6px rgba(254, 254, 255, 0.856);
    cursor: pointer;
   
}
.contenedor-galeria{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-galeria{
    padding: 10px;
    width: 435px;
    display:flexbox;
    margin-bottom: 25px;
    box-shadow: 0 0 6px rgb(243, 241, 241);
    cursor: pointer;
    height: 250px;
}

.line{
    width: 100%;
    max-width: 1350px;
    margin: auto;
    height: 7px;
    background: #fff;
    margin-bottom: -53px;
}



.default-btn {
    display: inline-block;
    background: rgb(0, 2, 128);
    color: #fff;
    font-family: work sans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    letter-spacing: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    text-decoration: none;
    cursor:pointer;
}

a, a:hover {
    text-decoration: none;
}

.tra-section {
    background-image: url(imagenes/imagen3.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    
}

.cta-btn{
    cursor: pointer;
}
.cta-btn-1{
    width: 100px;
}

.t3m-bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color:rgb(90 150 150/var(--tw-bg-opacity));
    padding: auto;
    height: 150px;
}

.logo{
    width: 650px;
    height: 250px;
}

#footer{
    background-image: url(imagenes/imagen3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
}

.footer contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.linefooter{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #345ead;
}

.social-media-icon i{
    font-size: 50px;
    line-height: 59px;
}

                                /*                    */
                                /*   Responsive  780  */
                                /*                    */

@media screen and (max-width: 780px){

                    /*  loading  */

    @keyframes lds-spinner {
    0% {
      opacity: 1;
      height: 10%;
      
    }
    100% {
      opacity: 0;
      height: 10%;
    }
  }
  

                   /* menu de navegación */
    .logo-dark{
    width: 0px;
    margin-top: 2%;
    }

    .submen{
       margin-right: -50%;
    }

    .nav li a{
       align-items: center;
       width: -100%;
       margin-left: 2%;
    }

    .nav li a{
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        font-size: 11px;
        margin-top: -4%;
    }

    .nav li li a{
        cursor: pointer;
        background-color: #2494c0;
        color: white;
        text-align: center;
        width: 86%;
        border-radius: 10px;
        margin-top: -1%;
        font-size: 10px;
        margin-left: -93%;
        height: 50px;
    }

    .navbar {
        flex-direction: column;
        margin-top: 8%;
        margin-left: 55%;
        border-radius: 10px;
      }

      .mainmenu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: -15%;
        padding: 10px 10px;
        border-radius: 10px;
        text-align: center;
        background-color: #2494c0;
      }
    
      .mainmenu.active {
        display: block;
      }
    
      .mainmenu ul {
        padding: 10px 0;
      }
    
      .mainmenu ul li {
        margin: 10px 0;
      }
    
      .checkbtn {
        display: block;
        cursor: pointer;
        margin-top: 4%;
      }
    
      .menu-wrap {
        flex-direction: column;
      }

      .cta-btn{
        display: none;         
    }
                    /* carrusel */
      .carousel-item{
        min-height: 323px;
        background-size: cover;
      }

      .carousel-inner h1{
        font-size: 1.5rem;
        top: 80%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }

    .carousel-item p{
        font-size: 1.2rem;
        top: 75%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }

                /* Presentacion del doctor */

    .section-doc{
            background-color: #186edfa8;
            padding: 0%;
            max-height: 95%;
            font-size: 1.2rem;
            min-height: 110px;
            text-align: center;
           
        }
    
    .presentacion{
        padding: 1% 1% 2% 1%;
        font-size: 1.5rem;
    }

    .img-doc{
        width: 100%;
        align-items: center;
        }
    
    .texto{
        text-align: center;
    }

    .texto-docder{
        max-height: 310px;
    }

    .texto-publicitario{
        min-height: 90px;
        font-size: 1.1rem;
        text-align: center; 
    }
    
                 /* Galeria de servicios */

    .subtitulo{
        padding: 4%;
        text-align: center;
        height: 110px;
        font-size: 30PX;
    }

    .subtitulos{
        width: 135%;
         }

    .contenedor-galeria{
        padding: 5% 2%;
        width: 75%;
        }  
    
    .img-galeria{
            padding: 2%;
            width: 135%;
            height: 80%;
            cursor: pointer;
        }

    .line{
        padding: 5%;
    }

    .tra-section{
        padding: 20% 0% 35% 0%; 
    }
    

    .default-btn{
        display: block;
        align-items: center;
        position:absolute;
        width: 94%;
        font-size: 10px;
    }

    .about-section{
        padding: 20% 0% 35% 0%; 
    }

    .cta-btn-1{
        min-width: 93.7%;
        font-size: 10px;
    }

    .logo{ 
        position: fixed;
       }
    
    .social-media{
        width: 95%;
        justify-content: center;
    }
    
    .social-media-icon{
        display: inline-block;
        width: 17%;
        height: 10%;
    }
}
    